
<div class="container">
    <h1 class="section-heading text-center mb-5">
        <span><img class="sectionlogo" src="../../../assets/Icons/contact-details-svgrepo-com.svg" alt="" srcset=""></span>
        <span class="sectionheader">Contact</span>
    </h1>

    <div class="row">
        <div class="col-md-6">
            <div id="contact-form-container">
                <form id="contact-form">
                    <div class="mb-3">
                        <input id="input-name" name="name" type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="mb-3">
                        <input id="input-email" name="input-email" type="email" required class="form-control" placeholder="Your Email">
                    </div>
                    <div class="mb-3">
                        <textarea id="input-message" name="input-message" rows="2" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">SEND MESSAGE</button>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div id="my-details-container" class="text-center">
                <h2 class="mb-4">Get In touch</h2>

                <div class="my-details-info-container mb-3">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Davangere, Karnataka, India</span>
                </div>
                <div class="my-details-info-container mb-3">
                    <i class="fas fa-mobile-alt"></i>
                    <span>+91 8123406861</span>
                </div>
                <div class="my-details-info-container mb-3">
                    <span><img class="emaillogo" src="../../../assets/Icons/email-8-svgrepo-com.svg" alt="" srcset=""></span>
                    <span>eshwaradeginal@gmail.com</span>
                </div>
                
            </div>
            <div id="name-social-container" class="my-details-info-container mb-3">
        
                <ul class="hozizantal-list d-flex  social-icon">
                  <li><a href="https://www.linkedin.com/in/eshwara-deginal-21b676196"><img src="../../../assets/Icons/linkedin-svgrepo-com.svg" alt="" srcset=""></a></li>
                  <li><a href="https://www.instagram.com/itz__me_eshwar/"><img src="../../../assets/Icons/instagram-svgrepo-com.svg" alt="" srcset=""></a></li>
                  <li><a href="https://www.facebook.com/"><img src="../../../assets/Icons/facebook-svgrepo-com.svg" alt="" srcset=""></a></li>
                </ul>
             
        </div>
        </div>
    </div>

  
</div>