<div class="row">
    <div class="col-sm-6 name-social-container">
        <div class="text-center">
          <h1 id="my-name">Eshwara Deginal B</h1><br>
          <span>
            Proficient Angular and .NET developer with 1.5 years of experience, successfully completing five projects utilizing diverse technologies
          </span>

        </div>
        <div class="align-items-center">
          <ul class="hozizantal-list d-flex  social-icon">
            <li><a href="https://www.linkedin.com/in/eshwara-deginal-21b676196"><img src="../../../assets/Icons/linkedin-svgrepo-com.svg" alt="" srcset=""></a></li>
            <li><a href="https://www.instagram.com/itz__me_eshwar/"><img src="../../../assets/Icons/instagram-svgrepo-com.svg" alt="" srcset=""></a></li>
            <li><a href="https://www.facebook.com/"><img src="../../../assets/Icons/facebook-svgrepo-com.svg" alt="" srcset=""></a></li>
            <li><a href="#"><img src="../../../assets/Icons/git-svgrepo-com (1).svg" alt="" srcset=""></a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6">
            <div class="profilephoto">
                <img src="../../../assets/Icons/profile.png" alt="" srcset="">
            </div>
      </div>
  </div>